<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			adaptable="true"
			objectClass="org.eclipse.core.resources.IResource"
			id="com.ibm.scm.docuengine.popupBuild">
		<visibility>
		<and>
			<objectClass name="org.eclipse.core.resources.IFile"/>
			<objectState name="extension" value="svg"/>
		</and>
		</visibility>
		<action
			label="Build SWF Movie"
			class="de.berlios.svgcompost.animation.plugin.SWFBuildAction"
			menubarPath="svg"
			enablesFor="1"
			icon="icons/sample.gif"
			id="de.berlios.svgcompost.animation.plugin.SWFBuildAction">
		</action>
		</objectContribution>
	</extension>
	
	<!-- Flip forward -->
	<extension point="org.eclipse.ui.commands">
		<command
		id="svgcompost.animation.flipforward"
		name="Flip to next keyframe">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu id="navigate" label="Navigate">
				<command commandId="svgcompost.animation.flipforward" style="push"/>
			</menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
		class="de.berlios.svgcompost.animation.plugin.command.FlipForwardHandler"
		commandId="svgcompost.animation.flipforward">
			<activeWhen>
				<with variable="activePartId">
					<equals value="svgcompost.editors.SVGEditor"/>
				</with>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
		commandId="svgcompost.animation.flipforward"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="F7">
		</key>
	</extension>
	<!-- Flip backward -->
	<extension point="org.eclipse.ui.commands">
		<command
		id="svgcompost.animation.flipbackward"
		name="Flip to previous keyframe">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu id="navigate" label="Navigate">
				<command commandId="svgcompost.animation.flipbackward" style="push"/>
			</menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
		class="de.berlios.svgcompost.animation.plugin.command.FlipBackwardHandler"
		commandId="svgcompost.animation.flipbackward">
			<activeWhen>
				<with variable="activePartId">
					<equals value="svgcompost.editors.SVGEditor"/>
				</with>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
		commandId="svgcompost.animation.flipbackward"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="F6">
		</key>
	</extension>
	<!-- Hide/Show -->
	<extension point="org.eclipse.ui.commands">
		<command
		id="svgcompost.animation.hideshow"
		name="Hide/show other keyframes">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu id="navigate" label="Navigate">
				<command commandId="svgcompost.animation.hideshow" style="push"/>
			</menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
		class="de.berlios.svgcompost.animation.plugin.command.HideAndShowHandler"
		commandId="svgcompost.animation.hideshow">
			<activeWhen>
				<with variable="activePartId">
					<equals value="svgcompost.editors.SVGEditor"/>
				</with>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
		commandId="svgcompost.animation.hideshow"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="F8">
		</key>
	</extension>



	
</plugin>
