<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.core.runtime.contentTypes">
		<file-association content-type="org.eclipse.core.runtime.xml"
			 file-extensions="svg">
		</file-association>
	</extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SvgCompost Editor"
            extensions="svg"
            contributorClass="de.berlios.svgcompost.contributor.SVGEditorActionBarContributor"
            class="de.berlios.svgcompost.editor.SVGEditor"
            id="svgcompost.editors.SVGEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.berlios.svgcompost.plugin.SVGCompostPreferencePage"
            id="svgcompost.plugin.preferences"
            name="SVG Compost">
      </page>
   </extension>
</plugin>
